html(lang="en")
  head
    title= title
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
  body
    div.container
      h1.header= message
      a.btn(href= getImage) Get image
        i(class='material-icons right') arrow_forward
      a.btn(href= listImages) Show all images
        i(class='material-icons right') arrow_forward
          