<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo left">Images Inventory</a>
        <ul id="nav-mobile" class="right">
            <li><a href="/image">Get image</a></li>
            <li><a href="/list/dog/images">All images</a></li>
        </ul>
    </div>
</nav>